.fields-flex-container {
  width: 900px;
  min-height: 400px;
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fields-flex-children {
  display: flex;
}
