.flexbox-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.content-container {
  flex-wrap: wrap;
  border: darkblue solid 1px;
  display: flex;
  width: 700px;
}

.flex-children {
  border: blueviolet solid 1px;
  display: flex;
  flex-basis: 100%;
}
