<div class="flexbox-wrapper margin-top-normal">
  <div class="content-container">
    <div class="make-flex">
      <app-input-interface class="flex-child"></app-input-interface>
    </div>
    <div class="make-flex">
      <app-fields-container class="flex-child"></app-fields-container>
    </div>
  </div>
</div>
<div class="guide-box border">
  <h5 class="make-flex margin-top-small">Rules</h5>
  <div class="make-flex">
    <ol class="remove-space-for-list list-text">
      <li>You need a field to create a sheep.</li>
      <li>For sheep to mate, you need to have female and male sheep in one row.</li>
      <li>Mating has a 50% chance of creating a lamb.</li>
      <li>Click sheep to brand or use the "BRAND RANDOM" button.</li>
      <li>Branded sheep will not mate with anybody.</li>
      <li>Lamb cannot be branded.</li>
      <li>Lamb will randomly become female or male sheep when growing up.</li>
      <li>You can't have 2 fields with the same name, but it doesn't apply to sheep.</li>
      <li>Mating takes 5 seconds.</li>
      <li>Break between mating process takes 8 seconds.</li>
      <li>It will take 12 seconds for a lamb to grow up.</li>
      <li>Don't leave your browser for too long because sheep will take over your CPU and RAM.</li>
    </ol>
  </div>
</div>
