/*GLOBAL CSS*/

.margin-top-normal {
  margin-top: 30px;
}

.margin-top-small {
  margin-top: 15px;
}

.margin-bottom-small {
  margin-bottom: 15px;
}

.padding-top-small {
  padding-top: 15px;
}

.padding-bottom-small {
  padding-bottom: 15px;
}

/*LOCAL CSS*/

.flexbox-wrapper {
  display: flex;
  justify-content: center;
}

.content-container {
  flex-wrap: wrap;
  display: flex;
  width: 750px;
}

.flex-child {
  display: flex;
  flex-basis: 100%;
}
