/*GLOBAL CSS*/

.margin-top-normal {
  margin-top: 30px;
}

/*LOCAL CSS*/

.flexbox-wrapper {
  display: flex;
  justify-content: center;
}

.content-container {
  flex-wrap: wrap;
  display: flex;
  width: 900px;
}

.flex-child {
  display: flex;
  flex-basis: 100%;
}
