<div class="flex-container">
  <div class="make-flex" [ngStyle]="{'visibility': getVisibilityForFemaleSheep()}">
    <img class="sheep-icon-size" src="./assets/sheep-icons/female-sheep-icon.png" alt="There should be a sheep..."/>
  </div>
  <div class="make-flex" [ngStyle]="{'visibility': getVisibilityForHeartIcon()}">
    <div class="lds-heart">
      <div></div>
    </div>
  </div>
  <div class="make-flex" [ngStyle]="{'visibility': getVisibilityForMaleSheep()}">
    <img class="sheep-icon-size" src="./assets/sheep-icons/male-sheep-icon.png" alt="There should be a sheep..."/>
  </div>
</div>
