<div class="field-container">
  <div class="field-child margin-small">
    <h3 class="field-title"> {{ field.getFieldName() }} </h3>
    <button type="button" class="btn btn-outline-primary field-branding-button">BRAND RANDOM</button>
  </div>
  <div class="field-child margin-small">
    <div class="make-flex">
      <img class="sheep-icon-size" src="./assets/sheep-icons/female-sheep-icon.png" alt="There should be a sheep..."/>
    </div>
    <div class="make-flex">
      <div class="lds-heart">
        <div>
        </div>
      </div>
    </div>
    <div class="make-flex">
      <img class="sheep-icon-size" src="./assets/sheep-icons/male-sheep-icon.png" alt="There should be a sheep..."/>
    </div>
  </div>
  <div class="field-child margin-small">
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
  </div>
</div>
