<div class="field-container">
  <div class="field-child margin-small">
    <h3 class="field-title"> {{ field.getFieldName() }} </h3>
    <button type="button" class="btn btn-outline-primary field-branding-button">BRAND RANDOM</button>
  </div>
  <div class="field-child margin-small">
    <app-row-of-sheep class="make-flex special-row-of-sheep-margin"
      *ngFor="let sheep of getArrayOfTheBiggerAmountOfSheep(), index as i"
      [femaleSheep]="field.getFemaleSheep()[i]"
      [maleSheep]="field.getMaleSheep()[i]"></app-row-of-sheep>
  </div>
  <div class="field-child margin-small">
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
    <img class="sheep-icon-lamb-size" src="./assets/sheep-icons/lamb-sheep-icon.png" alt="There should be a sheep..."/>
  </div>
</div>
