<div class="field-container">
  <div class="field-child margin-small">
    <h3 class="field-title"> {{ field.fieldName }} </h3>
    <button type="button" class="btn btn-outline-primary field-branding-button" (click)="onBrandRandom()">BRAND RANDOM
    </button>
  </div>
  <div class="field-child margin-small">
    <app-row-of-sheep class="make-flex special-row-of-sheep-margin"
                      *ngFor="let sheep of field.biggerArrayOfSheep, index as i"
                      [row]="field.rows[i]"></app-row-of-sheep>
  </div>
  <div class="field-child margin-small">
    <img *ngFor="let lamb of field.allLambSheep"
         class="sheep-icon-lamb-size"
         src="./assets/sheep-icons/sheep-lamb.png"
         alt="There should be a sheep..."/>
  </div>
</div>
