.field-container {
  width: 420px;
  min-height: 200px;
  background-color: #aaeeaa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.field-child {
  display: flex;
  /* Below width uses calc to use the whole space. 100% minus 15px of side margin from both sides */
  width: calc(100% - 30px);
  flex-wrap: wrap;
}

.field-child:first-of-type {
  position: relative;
  padding-bottom: 50px;
  border-bottom: grey 1px solid;
}

.field-child:nth-child(2){
  flex-direction: column;
}

.field-child:last-of-type {
  justify-content: start;
  gap: 5px;
}

.field-title {
  position: absolute;
  left: 15px;
}

.field-branding-button {
  position: absolute;
  right: 15px;
}

.sheep-icon-lamb-size {
  width: 25px;
  height: 25px;
}

.special-row-of-sheep-margin {
  margin-top: 15px;
}

.special-row-of-sheep-margin:first-of-type {
  margin-top: 0px;
}
