.flex-container {
  background-color: bisque;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: start;
  width: 100%;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex-child {
  display: flex;
  justify-content: center;
  width: 200px;
}
